<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input type="text"/>
</div>

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" (change)="onUseLettersChanged()"/>
</div>

<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" (change)="onUseNumbersChanged()"/>
</div>

<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" (change)="onUseSymbolsChanged()"/>
</div>

<div>
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label for="">Your Password</label>
  <input [value]="getPassword()"/>
</div>

<!-- {{ getPassword() }} -->
